/**
  Sets the spacing variables used by the padding and margins utility classes
 */
$spacing: (
        none: '0',
        xs: '0.25rem',
        sm: '0.5rem',
        md: '1rem',
        lg: '2rem',
        xl: '3rem',
        xl2:4rem,
        xl3: '5rem',
        xl4: '8rem',
        xl5: '12rem',
        xl6: '16rem',
);

$font-sizes: (
        xs: 0.75rem,
        sm: 0.875rem,
        base: 1rem,
        lg: 1.125rem,
        xl: 1.25rem,
        xl2: 1.5rem,
        xl3: 1.875rem,
        xl4: 2.25rem,
        xl5: 3rem,
        xl6: 4rem,
);

$colors: (
        red: (
                50: #FFEBEE,
                100: #FFCDD2,
                200: #EF9A9A,
                300: #E57373,
                400: #EF5350,
                500: #F44336,
                600: #E53935,
                700: #D32F2F,
                800: #C62828,
                900: #B71C1C,
        ),
        blue: (
                50: #E1F5FE,
                100: #B3E5FC,
                200: #81D4FA,
                300: #4FC3F7,
                400: #29B6F6,
                500: #03A9F4,
                600: #039BE5,
                700: #0288D1,
                800: #0277BD,
                900: #01579B,
        ),
        green: (
                50: #E8F5E9,
                100: #C8E6C9,
                200: #A5D6A7,
                300: #81C784,
                400: #66BB6A,
                500: #4CAF50,
                600: #43A047,
                700: #388E3C,
                800: #2E7D32,
                900: #1B5E20,
        ),
        orange: (
                50: #FFF3E0,
                100: #FFE0B2,
                200: #FFCC80,
                300: #FFB74D,
                400: #FFA726,
                500: #FF9800,
                600: #FB8C00,
                700: #F57C00,
                800: #EF6C00,
                900: #E65100,
        ),
        gray: (
                50: #FAFAFA,
                100: #F5F5F5,
                200: #EEEEEE,
                300: #E0E0E0,
                400: #BDBDBD,
                500: #9E9E9E,
                600: #757575,
                700: #616161,
                800: #424242,
                900: #212121,
        ),
);

