@import "../theme";
@import "../util/helpers";

/**
 * Border utilities
 */

@each $key, $value in map-get($borders, radius) {
  $label: getLabel($key);
  .round#{$label} {
    border-radius: #{$value};
  }
  .round-tl#{$label} {
    border-top-left-radius: #{$value};
  }
  .round-tr#{$label} {
    border-top-right-radius: #{$value};
  }
  .round-bl#{$label} {
    border-bottom-left-radius: #{$value};
  }
  .round-br#{$label} {
    border-bottom-right-radius: #{$value};
  }
}

@each $key, $value in map-get($borders, width) {
  $label: getLabel($key);
  .bor#{$label} {
    border-width: #{$value};
  }
  .bor-l#{$label} {
    border-left-width: 0;
  }
  .bor-t#{$label} {
    border-top-width: 0;
  }
  .bor-r#{$label} {
    border-right-width: 0;
  }
  .bor-b#{$label} {
    border-bottom-width: 0;
  }
}

@each $color, $map in $colors {
  @each $num, $hex in $map {
    .bor-#{$color}-#{$num} {
      border-color: #{$hex};
    }
  }
}

.bor-black {
  border-color: #000;
}

.bor-white {
  border-color: #FFF;
}

@each $key, $value in $opacity {
  .bor-opacity-#{$key} {
    --border-opacity: #{$value};
  }
}

