@import "../theme";
@import "../util/helpers";

// Font utility classes

@each $size, $unit in $spacing {
  .fs-#{$size} {
    font-size: #{$unit};
  }
}

.ita {
  font-style: italic;
}

@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: #{$i * 100};
  }
}

// Color utilities

@each $color, $map in $colors {
  @each $num, $hex in $map {
    .bg-#{$color}-#{$num} {
      background-color: #{$hex};
    }
  }
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

@each $color, $map in $colors {
  @each $num, $hex in $map {
    .t-#{$color}-#{$num} {
      color: #{$hex};
    }
  }
}

.t-black {
  color: #000;
}

.t-white {
  color: #FFF;
}

// Opacity utilities

@each $key, $value in $opacity {
  .opa-#{$key} {
    opacity: #{$value};
  }
}

@each $key, $value in $opacity {
  .t-opa-#{$key} {
    --text-opacity: #{$value};
  }
}

@each $key, $value in $opacity {
  .bg-opa-#{$key} {
    --bg-opacity: #{$value};
  }
}

// Other text utilities

.under {
  text-decoration: underline;
}

.no-under {
  text-decoration: none;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capital {
  text-transform: capitalize;
}

.normal {
  text-transform: none;
}

/**
* Alignment utilities
*/

.t-l {
  text-align: left;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}

.t-j {
  text-align: justify;
}

.va {
  vertical-align: baseline;
}

.va-t {
  vertical-align: top;
}

.va-m {
  vertical-align: middle;
}

.va-b {
  vertical-align: bottom;
}

.va-tt {
  vertical-align: text-top;
}

.va-tb {
  vertical-align: text-bottom;
}

// Shadow utilities

@each $key, $value in $shadows {
  .sha#{getLabel($key)} {
    box-shadow: #{$value};
  }
}
